ompl:
  planner_configs:
    RRTConnectkConfigDefault:
      type: geometric::RRTConnect
      range: 0.0

    RRTstarkConfigDefault:
      type: geometric::RRTstar
      range: 0.0
      goal_bias: 0.05
      delay_collision_checking: 1

  arm:
    planner_configs:
      - RRTConnectkConfigDefault
      - RRTstarkConfigDefault
    default_planner_config: RRTConnectkConfigDefault
    longest_valid_segment_fraction: 0.01
    enforce_constrained_state_space: false
    projection_evaluator: joints(Joint1,Joint2)
